.board-content {
  margin-top: 96px;
  height: calc(100vh - 96px);
  margin-left: 232px;
  padding-right: 16px;
  /* padding-bottom: 24px; */
  padding-left: 64px;
  padding-top: 110px;
  overflow-y: auto;
  /* background-color: lightblue; */
}

h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #42526e;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

/* main */

.board-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-title-task-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-field-add-task-container {
  display: flex;
  align-items: center;
  gap: 32px;
  height: 48px;
  margin-right: 48px;
}

.board-search-field {
  width: 312px;
  display: flex;
  position: relative;
}

.board-search-input {
  height: 48px;
  width: 100%;
  padding: 8px 64px 8px 16px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  font-family: var(--font-family-inter);
  font-size: 20px;
  line-height: 24px;
  overflow: hidden;
  border: 1px solid #a8a8a8;
}

.board-search-input::placeholder {
  color: #d1d1d1;
}

.board-search-input:focus-visible {
  outline: none;
  border: 2px solid var(--clr-light-blue);
}

.board-search-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  height: 32px;
  width: 32px;
  cursor: pointer;
  border-radius: 50%;
}

.board-search-icon:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.board-search-seperator {
  width: 1px;
  height: 31px;
  background-color: #d1d1d1;
  position: absolute;
  right: 64px;
  top: 50%;
  transform: translateY(-50%);
}

.board-add-task-button {
  background-color: var(--clr-main);
  color: white;
  width: 160px;
  height: 100%;
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: 700;
  line-height: 25.2px;
  gap: 8px;
}

.board-add-task-button-mobile {
  display: none;
  height: 40px;
  width: 40px;
  background-image: url("../assets/icons/mobile/addTaskBtnMobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.board-add-task-button-mobile:hover {
  background-image: url("../assets/icons/mobile/addTaskBtnBlueMobile.svg");
}

.board-add-task-button:hover {
  background-color: var(--clr-light-blue);
  box-shadow: 0px 4px 4px 0px #00000040;
}

.board-container {
  /* background-color: lightcoral; */
  width: 100%;
  height: calc(100% - 113px);
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.board-sections {
  min-width: 276px;
  /* height: calc(100% - 16px); */
  /* background-color: lightslategray; */
  gap: 16px;
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.board-add-button {
  background-image: url("../assets/icons/plus_button.svg");
  height: 24px;
  width: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.board-add-button:hover {
  background-image: url("../assets/icons/plusbtnblue.svg");
}

.board-section-title {
  display: flex;
  justify-content: space-between;
  /* height: 24px; */
  margin: 0 12px;
  /* background-color: yellow; */
}

.board-drag-area-container {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 16px;
  height: 100%;
  padding: 16px 12px 16px 12px;
}

.board-section-placeholder {
  min-height: 48px;
  width: 100%;
  background-color: #e7e7e7;
  border: 1px dashed #a8a8a8;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px #00000029;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  color: #a8a8a8;
  font-size: 16px;
}






/* cards */

.board-cards {
  /* min-height: 244px; */
  width: 252px;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* word-break: break-all; */
  border-radius: 24px;
  padding: 16px;
  box-shadow: 0px 0px 10px 3px #00000014;
  cursor: pointer;
  gap: 24px;
}

.board-test-card {
  min-height: 244px;
  width: 252px;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* word-break: break-all; */
  border-radius: 24px;
  padding: 16px;
  box-shadow: 0px 0px 10px 3px #00000014;
  cursor: pointer;
  gap: 24px;
}

.board-card-story {
  height: 27px;
  width: 113px;
  background-color: #0038ff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
  border-radius: 8px;
}

.board-card-technical {
  width: 144px;
  height: 27px;
  background-color: #1fd7c1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
  border-radius: 8px;
}

.board-card-text-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.board-card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board-card-title {
  color: var(--clr-main);
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
}

.board-card-description {
  color: #a8a8a8;
}

.board-card-subtask-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.board-card-progress-bar {
  width: 128px;
  background-color: #f4f4f4;
  height: 8px;
  border-radius: 8px;
  overflow: hidden;
}

.board-card-progress-fill {
  height: 100%;
  background-color: #4589ff;
  width: 0;
  border-radius: 16px;
}

.board-card-progress-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
}

.board-card-profiles-priority {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.board-card-profile-badges {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.board-card-single-profile {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  margin-left: -10px;
  border: 1px solid #ffffff;
}

.board-card-assigned-more {
  padding-left: 4px;
  font-size: 14px;
  font-weight: 700;
}





/* utility classes */
.d-none {
  display: none;
}





/* responsive */

@media (max-width: 1480px) {
  .board-container {
    flex-direction: column;
  }
  .board-drag-area-container {
    flex-direction: row;
    min-height: 150px;
  }
  .board-cards {
    min-width: 252px;
  }
  .board-section-placeholder {
    height: 48px;
  }
  .search-field-add-task-container {
    margin-right: 12px;
  }
  .board-add-button {
    height: 30px;
    width: 30px;
  }
  h2 {
    font-size: 27px;
    line-height: 32.4px;
  }
}

@media (max-width: 1150px) {
  .board-title-container {
    flex-direction: column;
    align-items: unset;
    gap: 40px;
  }
  .board-add-task-button {
    display: none;
  }
  .board-search-field {
    width: 100%;
  }
  .search-field-add-task-container {
    margin-right: 12px;
  }
  .board-add-task-button-mobile {
    display: block;
    margin-right: 12px;
  }
}

