.contacts-content {
    display: flex;
    flex-direction: row;
    margin-top: 96px;
    margin-left: 232px;

}

.contact-menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 456px;
    height: 928px;
    height: 100vh;
    background-color: #FFFFFF;
    box-shadow: 4px 0px 4px 0px #0000001a;
    z-index: 999;
}

.add-contact-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22.5px;
    width: 352px;
    height: 56px;
    border: 1px;
    border-radius: 10px;
    padding: 12px 0px 12px 0px;
    background-color: #2A3647;
}

.add-contact-button:hover{
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #B7B7B7;
}

.add-new-contact-text{
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    color: #FFFFFF;
    margin-right: 8px;
}

.add-person-icon{
    width: 32px;
    height: 32px;
    margin-left: 8px;
}

/* .contact-list{

} */

.contact-sequence{
    display: flex;
    align-items: center;
    width: 352px;
    height: 58px;
}

.contact-sequence-text{
    font-size: 20px;
    font-weight: 400;
    margin-left: 36px;

}

.contact-separator{
    width: 352px;
    height: 1px;
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: #D1D1D1;
}

.single-contact{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 352px;
    height: 78px;
}

.single-contact-profile-img{
    height: 42px;
    width: 42px;
    border-radius: 50%;
    margin-left: 24px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
}

.single-contact-profile{
    display: flex;
    flex-direction: column;
    margin-left: 35px;
}

.contact-detail{    
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 73px;
    width: 569px;
    margin-left: 55px;
    margin-top: 110px;
}

.contact-detail-headline{
    font-size: 61px;
    font-weight: 700;
    margin-right: 29px;
}

.contact-detail-separator{
    height: 59px;
    width: 2px;
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: #29ABE2;
}

.contact-detail-text{
    font-size: 27px;
    font-weight: 400;
    margin-left: 29px;
}

.contact-detail-card{
    display: flex;
    align-items: start;
    flex-direction: column;
    height: 364px;
    width: 461px;
    margin-left: 62px;
    margin-top: 32px;
}

.contact-detail-card-headline{
    display: flex;
    flex-direction: row;
    height: 120px;
}

.contact-detail-profile-img{
    width: 120px;
    height: 120px;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 47px;
    font-weight: 500;
    color: #FFFFFF;
    margin-right: 54px;
}

.contact-detail-card-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-detail-card-name{
    font-size: 47px;
    font-weight: 500;
    color: #000000;
}

.contact-detail-change-section{
    display: flex;
    flex-direction: row; 
}

.contact-detail-edit{
    font-size: 16px;
    font-weight: 400;
    margin-right: 16px;
}

.contact-detail-delete{
    font-size: 16px;
    font-weight: 400;
}