.contacts-content {
    display: flex;
    flex-direction: row;
    margin-top: 96px;
    margin-left: 232px;

}

.contact-menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 456px;
    height: 928px;
    height: 100vh;
    background-color: #FFFFFF;
    box-shadow: 4px 0px 4px 0px #0000001a;
    /* z-index: 999; */
}

.add-contact-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22.5px;
    width: 352px;
    height: 56px;
    border: 1px;
    border-radius: 10px;
    padding: 12px 0px 12px 0px;
    background-color: #2A3647;
}

.add-contact-button:hover{
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #B7B7B7;
}

.add-new-contact-text{
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    color: #FFFFFF;
    margin-right: 8px;
}

.add-person-icon{
    width: 32px;
    height: 32px;
    margin-left: 8px;
}

.contact-sequence{
    display: flex;
    align-items: center;
    width: 352px;
    height: 58px;
}

.contact-sequence-text{
    font-size: 20px;
    font-weight: 400;
    margin-left: 36px;

}

.contact-separator{
    width: 352px;
    height: 1px;
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: #D1D1D1;
}

.single-contact{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 352px;
    height: 78px;
}

.single-contact-profile-img{
    height: 42px;
    width: 42px;
    border-radius: 50%;
    margin-left: 24px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
}

.single-contact-profile{
    display: flex;
    flex-direction: column;
    margin-left: 35px;
}

.contact-detail{    
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 73px;
    width: 569px;
    margin-left: 55px;
    margin-top: 110px;
}

.contact-detail-headline{
    font-size: 61px;
    font-weight: 700;
    margin-right: 29px;
}

.contact-detail-separator{
    height: 59px;
    width: 2px;
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: #29ABE2;
}

.contact-detail-text{
    font-size: 27px;
    font-weight: 400;
    margin-left: 29px;
}

.contact-detail-card{
    display: flex;
    align-items: start;
    flex-direction: column;
    height: 364px;
    width: 461px;
    margin-left: 62px;
    margin-top: 32px;
}

.contact-detail-card-headline{
    display: flex;
    flex-direction: row;
    height: 120px;
}

.contact-detail-profile-img{
    width: 120px;
    height: 120px;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 47px;
    font-weight: 500;
    color: #FFFFFF;
    margin-right: 54px;
}

.contact-detail-card-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-detail-card-name{
    font-size: 47px;
    font-weight: 500;
    color: #000000;
}

.contact-detail-change-section{
    display: flex;
    flex-direction: row; 
    margin-top: 8px;
}

.contact-detail-edit{
    display: flex;
    align-items: end;
    font-size: 16px;
    font-weight: 400;
    margin-right: 16px;
}

.contact-detail-delete{
    display: flex;
    align-items: end;
    font-size: 16px;
    font-weight: 400;
}


.contact-detail-change-icons{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.contact-detail-edit-text{
    font-size: 16px;
    font-weight: 400;
    color: #2A3647;
    padding-bottom: 2.5px;
}

.contact-detail-card-subheadline{
    margin-top: 21px;
    width: 207px;
    height: 74px;
    font-size: 20px;
    font-weight: 400;
}

.contact-detail-information-block{
    width: 140px;
    height: 128px;
    margin-top: 21px;
}

.contact-detail-information-block-mail{
    width: 140px;
    height: 53px;
    display: flex;
    flex-direction: column;
}

.contact-detail-information-block-phone{
    width: 140px;
    height: 53px;
    margin-top: 22px;
    display: flex;
    flex-direction: column;
}

.contact-detail-information-block-subheadline{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}

.contact-detail-information-block-text{
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.window-add-new-contact{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.add-new-contact{
    width: 1212px;
    height: 592px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.add-new-contact-menu{
    display: flex;
    flex-direction: column;
    width: 467px;
    height: 594px;
    background-color: #2A3647;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 154px 48px 232.5px 48px;
}

.add-new-contact-menu-img{
    width: 55.6px;
    height: 66.48px;
    margin-bottom: 12.02px;
}

.add-new-contact-menu-text{
    width: 371px;
    height: 113px;
}

.add-new-contact-menu-text-headline{
    font-size: 61px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.add-new-contact-menu-text-subtext{
    font-size: 27px;
    font-weight: 400;
    color: #FFFFFF;
}

.add-new-contact-menu-separator{
    width: 90px;
    border: 2px solid #29ABE2;
    margin-top: 16px;
}

.add-new-contact-content{
    display: flex;
    flex-direction: column;
    width: 745px;
    height: 594px;
    background-color: #FFFFFF;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.add-new-contact-close-button{
    height: 137px;
    border-top-right-radius: 30px;
    display: flex;
    justify-content: end;
}

.close-contact{
    margin-top: 48px;
    margin-right: 48px;
    width: 32px;
    height: 32px;
}

.add-new-contact-input-fields{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 265px;
}

.icon-profile-add-new-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    background-color: #D1D1D1;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    margin-left: 83px;
    margin-right: 72px;
}

.img-profile-add-new-contact{
    width: 64px;
    height: 64px;
}

.add-new-contact-input-field-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-fields-add-new-contact{
    width: 422px;
    height: 50px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.input-field-separator{
    height: 32px;
}

.add-new-contact-button-section{
    height: 192px;
    border-bottom-right-radius: 30px;
}